{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    ["add-module-exports", { "addDefaultProperty": true }]
  ]
}
